*
{
    margin: 0;
    padding: 0;
}

html{
    background: #1e1a20;
}

/* 
html,
body
{
    overflow: hidden;
} */

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}

.section-text{
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
}

section:nth-child(odd)
{
    justify-content: flex-end;
}

.rainbow_text_animated {
    background: linear-gradient(90deg, #c91aac, #ba42c5, #a65cd9, #8f70ea, #7682f5, #5991fc, #3a9eff, #17aaff);    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}